@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: large;
  margin: 0;
  text-align: center;
  /*margin-top: 2%;
      margin-bottom: 5%;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.588), rgba(0, 0, 0, 0.615)),
    url("../img/fondo_index.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
}

img {
  height: 5rem;
}

.button {
  margin: 1%;
  background-color: #0097b2;
  border: 1px solid #0097b2;
  color: white;
  padding: 8px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 22px;
  border-radius: 12px;
}

.button:hover {
  color: #0097b2;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #0097b2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header_index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h1_index{
  font-size: 45px;
}

.texto_index {
  margin-top:2%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 22px;
}
